.main_header {
  width: 80%;
  min-width: 600px;
  margin: 0px auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(125, 125, 125);
  color: whitesmoke;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 500;
  font-family: "Lilita One";
  letter-spacing: 2px;
  /* font-family: "Shadows Into Light", cursive; */
}

/* @media (min-width: 600px) {
  .main_header {
    width: 80%;
    min-width: none;
  }
} */
